body, html{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes anim {
    0% {
        transform: translateX(0) scale(0.5);
        background-color: red;     
    }
    50% {
        transform: translateX(100px) scale(1.5);
        background-color: greenyellow;
    }
    100% {
        transform: translateX(200px) scale(0.5);
        background-color: purple;
    }
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    animation: anim 4s infinite;
    animation-direction: alternate;
}
